.container { 
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 285px) { .col { width: 100%; } }

@media screen and (min-width: 330px) { }
  
@media screen and (min-width: 445px) { }

@media screen and (min-width: 600px) { .col { width: 50%; } }
  
@media screen and (min-width: 720px) { }
  
@media screen and (min-width: 900px) { .col { width: 33.33%; } }
  
@media screen and (min-width: 1024px) { .col { width: 25%; } }
  
@media screen and (min-width: 1300px) { .col { width: 20%; } }
  
@media screen and (min-width: 1550px) { .col { width: 16.66%; } }
  